<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/css/bootstrap.min.css"/>
    <style>
        #inner {
            width: 50%;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="container-fluid text-center">
        <div>
            <h2>Files I'm Sharing</h2>
        </div>
        <div>
            <a th:href="@{/shared_files_with_me}">Files Shared With Me</a>
        </div>
        <div>
            <a th:href="@{/home_page}">My Files</a>
        </div>

        <div id = "inner" class = "border" th:each="myFile : ${sharedFiles}" style="width: 300px">
            <div>
                <img src="/file.png" alt="file">
            </div>
            <div>
                <a th:text = "${myFile.fileName}"></a>
            </div>

            <a type = "submit" th:href = "@{'/download?id=' + ${myFile.id}}" th:text = "View"></a>
        </div>

        <div>
            <form>
                <input type="submit" value="Upload" th:formaction="@{/upload}" th:formmethod="get"/>
                <input type="submit" value="Logout" th:formaction="@{/}" th:formmethod="get"/>
            </form>
        </div>

    </div>

</body>
</html>